:root{
    --rojo: #e50914;
    --fondo: #141414;
    --dorado: #EFBF04
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo{
    color: var(--dorado);
}